@page
@model PrivacyModel
@* Copyright (c) 2026 Ednei Monteiro. Licensed under the MIT License. See LICENSE and DISCLAIMER.md. *@
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
